 
*{
  margin: 0px;
  padding: 0px;
}
ul {
  position: relative;
   display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
  margin: 4px;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

p{ background-image: linear-gradient(15deg, #0d4666 0%, #80d0c7 100%);
  width: 100%;
  height: auto;
  padding:1%;
  text-align: center;
  font-family:  'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  font-size: x-large;
 }
.topnav{
  z-index: 100;
  position: sticky;
  top: 0;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  width: 100%;
  height: auto;
  padding:1%;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
  font-size: larger;
  font-weight: bolder;
}
input[type=text] {
width: 50%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 9px;
  background-color: white;
  background-position: 0px 0px; 
  background-repeat: no-repeat;
  padding: 4px 6px 6px 8px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 70%;
 
}

.fa-search{
  padding: 0px;
  width: 48px;
  line-height: 50%;
  color:#fff;
  font-size: medium;
  font-weight: bold;
  
  
}